body {
	margin: 0 auto;
	padding: 0;
	font-family: 'poppins';
	background-color: #e6eaeb;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto !important;
}

.flex {
	display: flex;
}



nav,
footer {
	background-color: #3a5d66;
	padding: 0 35px;
	height: 100px;
	align-items: center;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: black;
}

nav ul {
	gap: 30px;
	align-items: center;
	justify-content: center;
}

nav ul li {
	list-style-type: none;
	padding: 32px;
	justify-content: center;
}

nav ul li a {
	color: white;
	align-self: center;
	font-size: 15pt;
}

