{% extends "base.twig" %} 

{% block main %}

<div>

  <form action="index_utilisateur.php?page=utilisateur&action=createpartition" method="post">

    <div class="formulaire">
      <label class="balise" for="balise">Mettez le titre de votre partition</label>
      <input type="text" id="titre" name="titre">
    </div>
    <div class="formulaire flex">
      <label for="description">Votre description de partition</label>
      <textarea id="description" name="description"></textarea>
    </div>
    <div class="formulaire flex">
      <label for="image">Lien de votre image de partition</label>
      <textarea id="image" name="image"></textarea>
    </div>
    <div class="formulaire flex">
      <label for="document">Sélectionnez un fichier PDF :</label>
        <input type="file" name="document" id="docuement" accept=".pdf">
    </div>
<button class="btn-20" type="submit"><span>Ajout d'élement</span></button>
  </form>
</div>
{% endblock main %}
