{% extends "base.twig" %}

{% block main %}

      <form action="index.php?page=utilisateur&action=update" method ="post">
    <div class="formulaire flex">
      <label for="Pseudo">Nom</label>
    <input id="Pseudo" name="Pseudo" value="{{Pseudo}}">
  <label for="mail">mail</label>
    <input id="mail" name="mail" valu="{{ mail }}">
      <label for="Mot_de_passe"> Mots de passe</label>
    <input id="Mot_de_passe" name="Mot_de_passe" value="{{ Mot_de_passe }}">
</div>

<button class="btn-20" type="submit"><span>inscription</span></button>

</form>


{% endblock main %}