{% extends "base.twig" %}

{% block main %}
<ul>
    <li><a href="index.php?page=tous&action=readuser">utilisateur</a></li>
    <li><a href="index_utilisateur.php?page=partition&action=read">Musicien</a></li>
    <li><a href="">Admin</a></li>
</ul>
{% endblock main %}